.app {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.board {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .controls {
    flex-direction: column;
  }
}
